@font-face {
    font-family: 'FiraMono';
    src: url('font/FiraMono-Regular.eot');
    src: url('font/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/FiraMono-Regular.woff') format('woff'),
         url('font/FiraMono-Regular.ttf') format('truetype'),
         url('font/FiraMono-Regular.svg#FiraSansMono') format('svg');
    font-weight: 300;
    font-style: normal;

}

.faq .content > h2{
  text-align: center;
}

.faq a {
  text-decoration: none;
  background-image: none;
}

.faq input#search {
  border: solid #CCC;
  border-width: 0 0 1px 0;
  padding: 0.25em 0.5em 0.1em;
  font-size: 25px;
  font-weight: 300;
  color: #312783;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  line-height: 32px;
  text-align: center;
  font-family: "FiraSansLight",sans-serif;
}

.faq input#search:focus,
.faq input#search:hover{;
  outline: none;
}

.faq .cb{
  padding-bottom: 0;
  max-width: 80%;
  width: 41rem;
}

.faq h4{
  margin-top: 30px;
}

.faq .content ul,
.faq .content li {
  margin-bottom: 0;
}

.cb p,
.question li {
  font-size: 1.1em;
  line-height: 1.6;
}

.faq .task-list {
  font-size: 1em;
  line-height: 1.4;
}

.faq .sitemap {
  text-align: center;
}

.faq .footer ul {
  display: block;
  width: 100%;
}

.faq .footer li {
    display: inline-block;
    color: #fff;
}

.faq .footer li a {
  color: #fff;
}

.faq code,
.faq kbd,
.faq pre,
.faq samp {
  font-family: "FiraMono",sans-serif;
  font-size: 1em;
  padding-top: 0;
  margin-top: 10px !important;
  white-space: pre-wrap !important;
  background-color: #F8F8FB !important;
  padding: 0.2em 0.5em 0.2em;
  margin-bottom: 25px;
}

.faq .note {
  margin: 1em 0;
}

.faq .note .btn {
  padding: 0.4em 1em 0.2em;
  background-color: #312783;
  color: #FFF;
  border: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 500;
  margin-top: 2em;
}

.fly.ng-enter {
  transition: 100ms ease-in all;
  opacity: 0;
}

.fly.ng-enter-stagger {
  transition-delay: 100ms;
}

.fly.ng-enter-active {
  opacity: 1;
}

.fly.ng-leave {
  transition: 100ms ease-out all 30ms;
  opacity: 1;
}

.fly.ng-leave-active {
  opacity: 0;
}

.faq .question ul {
  margin: 1em 0;
}

.faq .question a {
  text-decoration: underline;
}

.faq #loading-bar .bar {
  background: #FFF;
}

.faq #loading-bar .peg {
  box-shadow: #FFF 1px 0 6px 1px;
}
