<div role="main" class="content">
  <h2>
    <a ui-sref="index" id="logo-animation">
      &#8592; Frequently Asked Questions
    </a>
  </h2>
  <section class="fly question cb" ng-show="question.id">
    <h4>{{ question.title }}</h4>
    <p ng-bind-html="question.answer"></p>
    <p ng-if="isOutDated(question)" class="note"><em>
      This question hasn't been updated in three months.
      If in doubt visit our <a href="http://hood.ie/chat/">chat</a> or ping us
      on Twitter (<a href="http://twitter.com/hoodiehq">@hoodiehq</a>).
    </em></p>
    <p class="note">
      <a class="btn" ng-href="{{ question.url }}">Improve this answer &#8594; </a>
    </p>
  </section>

  <section ng-hide="question.id">
    Loading...
  </section>
</div>
